<div class="terms-conditions-container">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="terms-conditions-content">
        <h1 nz-typography>{{ 'TERMS_CONDITIONS.TITLE' | translate }}</h1>

        <p nz-typography>
            {{ 'TERMS_CONDITIONS.WELCOME' | translate }}
        </p>

        <p nz-typography>
            {{ 'TERMS_CONDITIONS.ACCEPTANCE' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'TERMS_CONDITIONS.COOKIES.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'TERMS_CONDITIONS.COOKIES.DESCRIPTION' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'TERMS_CONDITIONS.LICENSE.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'TERMS_CONDITIONS.LICENSE.DESCRIPTION' | translate }}
        </p>

        <p nz-typography>{{ 'TERMS_CONDITIONS.RESTRICTIONS.INTRO' | translate }}</p>
        <ul>
            <li nz-typography>{{ 'TERMS_CONDITIONS.RESTRICTIONS.ITEM1' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.RESTRICTIONS.ITEM2' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.RESTRICTIONS.ITEM3' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.RESTRICTIONS.ITEM4' | translate }}</li>
        </ul>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'TERMS_CONDITIONS.COMMENTS.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'TERMS_CONDITIONS.COMMENTS.DESCRIPTION' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'TERMS_CONDITIONS.HYPERLINKING.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'TERMS_CONDITIONS.HYPERLINKING.DESCRIPTION' | translate }}
        </p>
        <ul>
            <li nz-typography>{{ 'TERMS_CONDITIONS.HYPERLINKING.ITEM1' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.HYPERLINKING.ITEM2' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.HYPERLINKING.ITEM3' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.HYPERLINKING.ITEM4' | translate }}</li>
            <li nz-typography>{{ 'TERMS_CONDITIONS.HYPERLINKING.ITEM5' | translate }}</li>
        </ul>
    </div>
</div>