<div class="terms-conditions-container">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="terms-conditions-content">
        <h1 nz-typography>Terms &amp; Conditions</h1>

        <p nz-typography>
            Welcome to Zain Tawseel! These terms and conditions outline the rules and regulations for the use of Zain
            Tawseel's Website, located at <a href="https://zain-tawseel.com">https://zain-tawseel.com</a>.
        </p>

        <p nz-typography>
            By accessing this website we assume you accept these terms and conditions. Do not continue to use Zain
            Tawseel if you do not agree to take all of the terms and conditions stated on this page.
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>Cookies</h2>
        <p nz-typography>
            We employ the use of cookies. By accessing Zain Tawseel, you agreed to use cookies in agreement with the
            Zain Tawseel's Privacy Policy.
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>License</h2>
        <p nz-typography>
            Unless otherwise stated, Zain Tawseel and/or its licensors own the intellectual property rights for all
            material on Zain Tawseel. All intellectual property rights are reserved. You may access this from Zain
            Tawseel for your own personal use subjected to restrictions set in these terms and conditions.
        </p>

        <p nz-typography>You must not:</p>
        <ul>
            <li nz-typography>Republish material from Zain Tawseel</li>
            <li nz-typography>Sell, rent or sub-license material from Zain Tawseel</li>
            <li nz-typography>Reproduce, duplicate or copy material from Zain Tawseel</li>
            <li nz-typography>Redistribute content from Zain Tawseel</li>
        </ul>

        <nz-divider></nz-divider>

        <h2 nz-typography>User Comments</h2>
        <p nz-typography>
            Parts of this website offer an opportunity for users to post and exchange opinions and information. Zain
            Tawseel does not filter, edit, publish or review Comments prior to their presence on the website. Comments
            do not reflect the views and opinions of Zain Tawseel, its agents and/or affiliates.
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>Hyperlinking to our Content</h2>
        <p nz-typography>
            The following organizations may link to our Website without prior written approval:
        </p>
        <ul>
            <li nz-typography>Government agencies;</li>
            <li nz-typography>Search engines;</li>
            <li nz-typography>News organizations;</li>
            <li nz-typography>Online directory distributors may link to our Website in the same manner as they hyperlink
                to the Websites of other listed businesses;</li>
            <li nz-typography>System wide Accredited Businesses except soliciting non-profit organizations, charity
                shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
        </ul>
    </div>
</div>