<div class="how-to-use-dialog">
    <h2 nz-typography>How to use</h2>

    <div class="section">
        <h3 nz-typography>PSN (Web):</h3>
        <ol>
            <li>Visit the PlayStation website.</li>
            <li>Log in to your PSN account.</li>
            <li>From the top, click on the account profile menu.</li>
            <li>Choose redeem code.</li>
            <li>Enter your 12-digit code.</li>
            <li>Click on "Continue" and the balance will be added to your account.</li>
        </ol>
    </div>

    <nz-divider></nz-divider>

    <div class="section">
        <h3 nz-typography>PSN (Console):</h3>
        <ol>
            <li>Open your console and log in to your PSN account.</li>
            <li>Go to PlayStation Store.</li>
            <li>From the top, click on the account profile menu.</li>
            <li>Choose redeem code.</li>
            <li>Enter your 12-digit code.</li>
            <li>Enter your digit code and press "Redeem".</li>
        </ol>
    </div>

    <nz-divider></nz-divider>

    <div class="section">
        <h3 nz-typography>PS App:</h3>
        <ol>
            <li>Click on the store icon.</li>
            <li>From the top of the page, click on the menu and choose (Redeem Code).</li>
            <li>Enter your 12-digit code and press "Redeem."</li>
        </ol>
    </div>
</div>