<div class="privacy-policy-container">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="privacy-policy-content">
        <h1 nz-typography>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
        <p nz-typography class="last-updated">{{ 'PRIVACY_POLICY.LAST_UPDATED' | translate }}</p>

        <p nz-typography>
            {{ 'PRIVACY_POLICY.INTRO' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'PRIVACY_POLICY.INFO_COLLECT.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'PRIVACY_POLICY.INFO_COLLECT.DESCRIPTION' | translate }}
        </p>
        <ul>
            <li nz-typography>
                <strong>{{ 'PRIVACY_POLICY.INFO_COLLECT.PERSONAL_DATA.TITLE' | translate }}:</strong> {{
                'PRIVACY_POLICY.INFO_COLLECT.PERSONAL_DATA.DESCRIPTION' | translate }}
            </li>
            <li nz-typography>
                <strong>{{ 'PRIVACY_POLICY.INFO_COLLECT.USAGE_DATA.TITLE' | translate }}:</strong> {{
                'PRIVACY_POLICY.INFO_COLLECT.USAGE_DATA.DESCRIPTION' | translate }}
            </li>
        </ul>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'PRIVACY_POLICY.INFO_USE.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'PRIVACY_POLICY.INFO_USE.DESCRIPTION' | translate }}
        </p>
        <ul>
            <li nz-typography>{{ 'PRIVACY_POLICY.INFO_USE.ITEMS.ITEM1' | translate }}</li>
            <li nz-typography>{{ 'PRIVACY_POLICY.INFO_USE.ITEMS.ITEM2' | translate }}</li>
            <li nz-typography>{{ 'PRIVACY_POLICY.INFO_USE.ITEMS.ITEM3' | translate }}</li>
        </ul>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'PRIVACY_POLICY.DISCLOSURE.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'PRIVACY_POLICY.DISCLOSURE.DESCRIPTION' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'PRIVACY_POLICY.SECURITY.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'PRIVACY_POLICY.SECURITY.DESCRIPTION' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'PRIVACY_POLICY.RIGHTS.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'PRIVACY_POLICY.RIGHTS.DESCRIPTION' | translate }}
        </p>

        <nz-divider></nz-divider>

        <h2 nz-typography>{{ 'PRIVACY_POLICY.CONTACT.TITLE' | translate }}</h2>
        <p nz-typography>
            {{ 'PRIVACY_POLICY.CONTACT.DESCRIPTION' | translate }}
            <a href="mailto:info&#64;zain-tawseel.com">info&#64;zain-tawseel.com</a>
        </p>
    </div>
</div>