@use '../../../../assets/scss/variables' as vars;

:host {
  display: inline-block;
  
  ::ng-deep .ant-switch {
    background-color: #4368ee;
    
    &.ant-switch-checked {
      background-color: vars.$grey-color-dark;
      
      &:focus {
        box-shadow: none !important;
      }
    }
    
    .ant-switch-handle {
      &::before {
        background-color: white;
      }
    }
    .anticon {
      color: white;
    }
  }
}

// Dark theme styles
:host-context([data-theme="dark"]) {
  ::ng-deep .ant-switch {
    &:not(.ant-switch-checked) {
      background-color: vars.$grey-color-dark;
    }
  }
}
