<div class="home-container">
  <!-- Section 1: Main Banner Carousel -->
  <app-banner-carousel></app-banner-carousel>

  <!-- Section 2: Categories Carousel -->
  <app-categories-carousel></app-categories-carousel>

  <!-- Section 3: Offers Cards -->
  <app-offers-cards></app-offers-cards>

    <!-- Section 4: Why Choose Us -->
    <app-why-choose-us></app-why-choose-us>

  <!-- Section 5: Main Banner -->
  <app-main-banner></app-main-banner>

  <!-- Section 6: Member Reviews -->
  <app-member-reviews></app-member-reviews>
</div>
