<!-- Country Selector -->
<button nz-button nz-dropdown [nzDropdownMenu]="countryMenu" class="country-btn" nzTrigger="click"
  nzPlacement="bottomLeft" [nzOverlayClassName]="'country-dropdown'" [nzOverlayStyle]="{zIndex: 2000}">
  @if (selectedCountry) {
  <img [src]="selectedCountry.flag_picture" width="20" height="15" class="me-2"
    [alt]="selectedCountry.country_code + '_flag'">
  <span>{{ getCountryName(selectedCountry) }}</span>
  } @else {
  <span>{{ 'APP.LOADING' | translate }}</span>
  }
  <span nz-icon nzType="down" class="ms-2"></span>
</button>

<nz-dropdown-menu #countryMenu="nzDropdownMenu">
  <ul nz-menu>
    @if (!loading) {
    @for (country of countries; track country.country_code) {
    <li nz-menu-item (click)="setCountry(country)"
      [class.selected]="selectedCountry?.country_code === country.country_code">
      <img [src]="country.flag_picture" width="20" height="15" [alt]="country.country_code + '_flag'" class="me-2">
      {{ getCountryName(country) }}
    </li>
    }
    } @else {
    <li nz-menu-item>
      <span>{{ 'APP.LOADING' | translate }}</span>
    </li>
    }
  </ul>
</nz-dropdown-menu>