<nz-card class="card-alt" [nzCover]="coverTemplate">
  <ng-template #coverTemplate>
    <div class="card-image-container">
      @if (discount > 0) {
        <div class="discount-badge">{{ 'HOME.BEST_SELLER' | translate }}</div>
      }
      <img [src]="image" [alt]="title">
    </div>
  </ng-template>
  
  <nz-card-meta [nzTitle]="title"></nz-card-meta>
  
  <div class="price-container">
    <div class="price-wrapper">
      <span class="current-price">{{ price }} {{ currency }}</span>
      <span class="original-price">{{ originalPrice }} {{ currency }}</span>
    </div>
  </div>

  <div class="card-actions">
    @if (link) {
      <a [routerLink]="[link]" class="buy-now-container">
        <button nz-button nzType="primary" class="buy-now-btn" nzBlock="true" (click)="onBuyNow($event)">
          {{ buyNowText }}
        </button>
      </a>
    } @else {
      <div class="buy-now-container">
        <button nz-button nzType="primary" class="buy-now-btn" nzBlock="true" (click)="onBuyNow($event)">
          {{ buyNowText }}
        </button>
      </div>
    }
    
    @if (showAddToCart) {
      <div class="cart-btn-container">
        <button nz-button nzType="default" (click)="onAddToCart($event)" class="add-to-cart-btn" nzBlock="true">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    }
  </div>
</nz-card>
