@use "../../../../assets/scss/variables" as vars;

.breadcrumb-container {
  padding: 16px 0;

  ::ng-deep {
    .ant-breadcrumb {
      font-size: 14px;

      .ant-breadcrumb-link {
        a {
          color: vars.$primary-color;
          text-decoration: none;

          :host-context(body.dark-theme) & {
            color: vars.$text-color-dark;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          color: vars.$text-color-secondary-light;

          :host-context(body.dark-theme) & {
            color: vars.$text-color-dark;
          }
        }
      }

      .ant-breadcrumb-separator {
        color: vars.$text-color-secondary-light;

        :host-context(body.dark-theme) & {
          color: vars.$text-color-tertiary-dark;
        }
      }
    }
  }

  // Mobile styles
  @media (max-width: vars.$screen-sm) {
    padding: 12px 0;

    ::ng-deep {
      .ant-breadcrumb {
        font-size: 12px;
      }
    }
  }
}
