<div class="breadcrumb-container">
    <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; let last = last">
            <a *ngIf="!last && breadcrumb.url" [routerLink]="breadcrumb.url">
                {{ breadcrumb.translateKey ? (breadcrumb.translateKey | translate) : breadcrumb.label }}
            </a>
            <span *ngIf="last || !breadcrumb.url">
                {{ breadcrumb.translateKey ? (breadcrumb.translateKey | translate) : breadcrumb.label }}
            </span>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>